################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/server/src/node_modules

/example/server/node_modules
/example/server/package-lock.json
/example/server/*.dll
/example/server/*.exe